---
import AstroSVG from "../components/icons/AstroSVG.astro";
import TailwindSVG from "../components/icons/TailwindSVG.astro";
import FigmaSVG from "../components/icons/FigmaSVG.astro";
import Id from "../pages/projects/[id].astro";

const TAGS = {
    ASTRO: {
        name: "Astro",
        icon: AstroSVG,
    },
    TAILWINDCSS: {
        name: "Tailwind",
        icon: TailwindSVG,
    },
    FIGMA: {
        name: 'Figma',
        icon:   FigmaSVG,
    },
}

const PROJECTS = [
    {
        id: 'sunui',
        title: "SunUI - Cat치logo de Componentes",
        description: "Desarrol칠 un sitio d칩nde podr치n encontrar componentes personalizados con Tailwind CSS para dise침ar de manera eficiente sus p치ginas web.",
        image: "/projects/sunui-image.webp",
        tags: [TAGS.ASTRO, TAGS.TAILWINDCSS, TAGS.FIGMA],
    },
    {
      id: 'notapp',
        title: "Notapp - Dashboard para la Gesti칩n de Proyectos",
        description: "Dise침o y desarrollo de una aplicaci칩n para la gesti칩n de tareas, integrando JavaScript para la creaci칩n din치mica de tarjetas y Firebase para un sistema seguro de registro y autenticaci칩n de usuarios.",
        image: "/projects/notapp-image.webp",
        tags: [TAGS.ASTRO, TAGS.TAILWINDCSS, TAGS.FIGMA],
    },
]
import Layout from "../layouts/Layout.astro";
---

<Layout title=""
description="">
    <main class="flex-1 flex flex-col items-center justify-center">
        <h1>PROYECTOS</h1>
        <section class="space-y-6">
            <div class="flex flex-col space-y-24">
                {
                  PROJECTS.map(({ image, title, description, tags, id}) => (
                    <article class="flex flex-col space-y-8 md:space-x-8 md:space-y-0 bg-[#71C893] p-4">
                        <div class="border-2 border-black">
                            <div class="w-full md:w-1/2 flex flex-col justify-between items-start space-y-4">
                                <div class="flex flex-wrap">
                                <h3 class="text-2xl font-bold text-black pb-4">{title}</h3>
                                <p class="text-md text-black/80 pb-4">{description}</p>
                                </div>
                                <ul class="flex gap-x-4">
                                    {tags.map((tag) => (
                                        <li class="py-1 px-2 border border-black rounded-full">
                                        <span class={`flex items-center justify-start text-black gap-x-1 text-xs font-semibold text-nowrap`}>
                                            <tag.icon class="size-4"/>
                                            {tag.name}
                                        </span>
                                        </li>
                                        ))
                                    }
                                </ul>
                                <footer class="flex justify-between items-center w-full">
                                    <img src="https://github.com/blaballos.png" alt="" class="size-12 rounded-full" />
                                    <a href={`/projects/${id}`} class="px-3 z-30 py-1 bg-transparent border-2 text-black border-black rounded-2xl rounded-tl-lg rounded-br-lg relative after:-z-20 after:absolute after:h-1 after:w-1 after:bg-royalBlue after:left-5 overflow-hidden after:bottom-0 after:translate-y-full after:rounded-xl after:hover:scale-[300] after:hover:transition-all after:hover:duration-700 after:transition-all after:duration-700 transition-all duration-700 hover:text-white">
                                    <span class="text-sm md:text-md font-HeyComic">ver m치s</span>
                                    </a>
                                </footer>
                            </div>
                            <div class="w-full md:w-1/2">
                                <div class="flex rounded-lg bg-transparent p-2 bg-white bg-[radial-gradient(#e5e7eb_1px,transparent_1px)] [background-size:16px_16px] border border-[black]">
                                <a href={`/projects/${id}`}>
                                    <img alt="Captura del Proyecto" class="object-cover w-full h-full rounded-lg hover:scale-95 transition duration-500" loading="lazy" src={image} />
                                </a>
                                </div>
                            </div>
                        </div>
                    </article>
                  ))
                }
            </div>
        </section>
    </main>
    <footer class="w-full py-4">
        <div class="max-w-7xl mx-auto flex items-center justify-between">
            <span>2025</span>
            <span>Dise침ado y desarrollado con 游눞 por <a href="">blaballos</a></span>
            <span>.........................</span>
        </div>
    </footer>
</Layout>

<style>
    html {
        background-color: #C96147;
    }
</style>
