---
import AstroIcon from "../components/icons/AstroIcon.astro";
import Tailwind from "../components/icons/Tailwind.astro";
import Figma from "../components/icons/Figma.astro";
import Arrow from "../components/icons/Arrow.astro";
import Network from "../components/icons/Network.astro";
import AvatarBadge from "../components/AvatarBadge.astro";

const TAGS = {
    ASTRO: {
        name: "Astro",
        icon: AstroIcon,
    },
    TAILWINDCSS: {
        name: "Tailwind",
        icon: Tailwind,
    },
    FIGMA: {
        name: 'Figma',
        icon:   Figma,
    },
}

const PROJECTS = [
    {
        id: 'sunui',
        title: "SUNUI",
        description: "Desarrol칠 un sitio d칩nde podr치n encontrar componentes personalizados con Tailwind CSS para dise침ar de manera eficiente sus p치ginas web.",
        href: "https://toolsun.netlify.app/",
        image: "/projects/sunui-image.webp",
        tags: [TAGS.ASTRO, TAGS.TAILWINDCSS, TAGS.FIGMA],
    },
    {
        id: 'notapp',
        title: "NOTAPP",
        description: "Dise침o y desarrollo de una aplicaci칩n para la gesti칩n de tareas, integrando JavaScript para la creaci칩n din치mica de tarjetas y Firebase para un sistema seguro de registro y autenticaci칩n de usuarios.",
        href: "https://notapp-blaballos.netlify.app/",
        image: "/projects/notapp-image.webp",
        tags: [TAGS.ASTRO, TAGS.TAILWINDCSS, TAGS.FIGMA],
    },
]
import Layout from "../layouts/Layout.astro";
---

<Layout title=""
description="">
    <main class="flex-1 flex flex-col items-center justify-center">
        <h1 class="font-LuckiestGuy text-SUNGLOW text-6xl drop-shadow-[6px_6px_0px_#1D1F1A] mb-6">PROYECTOS</h1>
        <section>
            <div class="max-w-5xl mx-auto flex flex-col space-y-24">
                {
                  PROJECTS.map(({ image, title, description, tags, id, href}) => (
                    <article class="flex flex-col bg-EMERALD p-4 rounded-lg drop-shadow-xl">
                        <div class="border-dotted border-2 border-NIGHT p-4 rounded-md space-y-8">
                            <div class="w-full flex flex-row justify-between">
                                <div class="max-w-xl flex flex-col space-y-4">
                                        <a href={href} target="_blank" rel="noopener noreferrer" class="text-sm md:text-md flex justify-start items-center gap-x-1 hover:underline font-ExconBold text-WHITE"><Network class="size-4 md:size-5"/>www.{id}.com</a>
                                        <h3 class="font-ExconVariable text-8xl text-EERIEBLACK">{title}</h3>
                                        <p class="max-w-md font-ExconBold text-md text-EERIEBLACK/80">{description}</p>
                                </div>
                                <div class="flex flex-col items-end justify-between">
                                    <div class="flex items-center justify-between space-x-2">
                                        <span class="text-WHITE font-ExconBold text-sm">Tecnolog칤a:</span>
                                        <ul class="flex gap-x-4">
                                        {tags.map((tag) => (
                                            <li>
                                            <span class={`flex items-center justify-start font-ExconBold text-xs text-EERIEBLACK text-nowrap gap-x-1`}>
                                                <tag.icon class="size-6"/>
                                                {tag.name}
                                            </span>
                                            </li>
                                            ))
                                        }
                                        </ul>
                                    </div>
                                    <AvatarBadge />
                                </div>
                            </div>
                            <div class="w-full">
                                <a href={href} target="_blank" rel="noopener noreferrer" aria-label="Go to preview project page">
                                    <img alt="Project screen" class="object-cover w-full h-full rounded-lg hover:scale-95 transition duration-500" loading="lazy" src={image} />
                                </a>
                            </div>
                            <div class="flex justify-start">
                                <a class="flex items-center font-ExconVariable text-md text-DUN gap-x-2 px-2 py-1 border-2 border-NIGHT bg-JASPER group" href={href} target="_blank" rel="noopener noreferrer" aria-label="Go to GitHub profile">Ir a la p치gina web<Arrow class="-rotate-45 group-hover:rotate-0 transition duration-300 size-6"/></a>
                            </div>
                        </div>
                    </article>
                  ))
                }
            </div>
        </section>
    </main>
    <footer class="w-full py-4">
        <div class="max-w-7xl mx-auto flex items-center justify-between font-ImFellFrench text-NIGHT">
            <span>춸 2025</span>
            <span>Dise침ado y desarrollado con 游눞 por <a class="hover:underline" href="https://www.github.com/blaballos" target="_blank" rel="noopener noreferrer" aria-label="Go to GitHub profile">blaballos</a></span>
            <span>... . --. ..- .. -- --- .- --.- ..- ..</span>
        </div>
    </footer>
</Layout>

<style>
    html {
        background-color: #C96147;
    }
</style>