---
import AstroIcon from "../components/icons/AstroIcon.astro";
import Tailwind from "../components/icons/Tailwind.astro";
import Figma from "../components/icons/Figma.astro";
import Arrow from "../components/icons/Arrow.astro";
import Network from "../components/icons/Network.astro";
import AvatarBadge from "../components/AvatarBadge.astro";

const TAGS = {
    ASTRO: {
        name: "Astro",
        icon: AstroIcon,
    },
    TAILWINDCSS: {
        name: "Tailwind",
        icon: Tailwind,
    },
    FIGMA: {
        name: 'Figma',
        icon:   Figma,
    },
}

const PROJECTS = [
    {
        id: 'sunui',
        title: "SUNUI",
        description: "Desarrolé un sitio dónde podrán encontrar componentes personalizados con Tailwind CSS para diseñar de manera eficiente sus páginas web.",
        href: "https://toolsun.netlify.app/",
        image: "/projects/sunui-image.webp",
        tags: [TAGS.ASTRO, TAGS.TAILWINDCSS, TAGS.FIGMA],
    },
    {
        id: 'notapp',
        title: "NOTAPP",
        description: "Diseño y desarrollo de una aplicación para la gestión de tareas, integrando JavaScript para la creación dinámica de tarjetas y Firebase para un sistema seguro de registro y autenticación de usuarios.",
        href: "https://notapp-blaballos.netlify.app/",
        image: "/projects/notapp-image.webp",
        tags: [TAGS.ASTRO, TAGS.TAILWINDCSS, TAGS.FIGMA],
    },
]
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Proyectos Destacados - Brandon Laballos"
description="Hacer realidad una idea no es tarea sencilla, pero con dedicación y pasión, todo es posible. Me esfuerzo al máximo para desarrollar proyectos únicos, modernos y personalizados para dejar una huella en el mundo digital."
hideHeader={false}
hideFooter={true}>
    <main class="flex-1 flex flex-col items-center justify-center pt-12 pb-16 px-4">
        <h1 class="font-LuckiestGuy text-5xl md:text-6xl text-SUNGLOW drop-shadow-[6px_6px_0px_#1D1F1A] mb-6">PROYECTOS</h1>
        <section class="w-full">
            <div class="max-w-5xl mx-auto flex flex-col space-y-24">
                {
                  PROJECTS.map(({ image, title, description, tags, id, href}) => (
                    <article class="flex flex-col bg-EMERALD p-4 rounded-lg drop-shadow-xl">
                        <div class="border-dotted border-2 border-NIGHT p-4 rounded-md space-y-8">
                            <div class="flex flex-col md:flex-row justify-between space-y-6 space-x-0 md:space-x-6">
                                <div class="max-w-xl flex flex-col space-y-4">
                                        <a href={href} target="_blank" rel="noopener noreferrer" class="text-sm md:text-md flex justify-start items-center gap-x-1 hover:underline font-ExconBold text-WHITE"><Network class="size-4 md:size-5"/>www.{id}.com</a>
                                        <h2 class="font-ExconVariable text-6xl lg:text-8xl text-EERIEBLACK">{title}</h2>
                                        <p class="max-w-md font-ExconBold text-sm md:text-md text-EERIEBLACK/80">{description}</p>
                                </div>
                                <div class="flex flex-col items-end justify-between space-y-4">
                                    <div class="w-full flex items-center justify-between space-x-2">
                                        <span class="text-WHITE font-ExconBold text-sm">Tecnología:</span>
                                        <ul class="flex gap-x-4">
                                        {tags.map((tag) => (
                                            <li>
                                            <span class={`flex items-center justify-start font-ExconBold text-xs text-EERIEBLACK text-nowrap gap-x-1`}>
                                                <tag.icon class="size-6"/>
                                                {tag.name}
                                            </span>
                                            </li>
                                            ))
                                        }
                                        </ul>
                                    </div>
                                    <AvatarBadge />
                                </div>
                            </div>
                            <div class="w-full">
                                <a href={href} target="_blank" rel="noopener noreferrer" aria-label="Go to preview project page">
                                    <img alt="Project screen" class="object-cover w-full h-full rounded-lg hover:scale-95 transition duration-500" loading="lazy" src={image} />
                                </a>
                            </div>
                            <div class="flex justify-center md:justify-end">
                                <a class="flex items-center font-ExconVariable text-md text-DUN gap-x-2 px-3 py-1 border-2 border-NIGHT bg-JASPER group" href={href} target="_blank" rel="noopener noreferrer" aria-label="Go to GitHub profile">Ir a la página web<Arrow class="-rotate-45 group-hover:rotate-0 transition duration-300 size-6"/></a>
                            </div>
                        </div>
                    </article>
                  ))
                }
            </div>
        </section>
    </main>
    <Footer footerBgColor="bg-EMERALD" footerTextColor="text-EERIEBLACK"/>
</Layout>

<style>
    html {
        background-color: #C96147;
    }
</style>