---
import CodeBadge from "./CodeBadge.astro";
import CIcon from "./icons/C++Icon.astro";
import PythonIcon from "./icons/PythonIcon.astro";

const TAGS = {
    PYTHON: {
        name: "Python",
        class: "bg-blue-500",
        icon: PythonIcon,
    },
    C: {
        name: "C++",
        class: "bg-red-500",
        icon: CIcon,
    },
}

const PROJECTS = [
    {
        title: "Sistema de Gestión de Clientes",
        description: "Sistema que permite registrar clientes en una veterinaria. Aprendí a manipular métodos y atributos privados de una clase.",
        href: "https://github.com/blaballos/management-system-for-veterinary",
        image: "/projects/management-system-for-veterinary.webp",
        tags: [TAGS.C],
    },
    {
        title: "Juego de Roles",
        description: "Sistema que permite registrar clientes en una veterinaria. Aprendí a manipular métodos y atributos privados de una clase.",
        href: "https://github.com/blaballos/role-play-game",
        image: "/projects/management-system-for-veterinary.webp",
        tags: [TAGS.PYTHON],
    },
]
---

<div class="flex flex-col gap-y-16">
    {
      PROJECTS.map(({ image, title, description, tags, href}) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
    <div class="w-full md:w-1/2">
      <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
        <img alt="Recién llegado vs 5 años en Nueva Zelanda" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
      </div>
    </div>
  
    <div class="w-full md:w-1/2 md:max-w-lg">
      <h3 class="text-2xl font-bold text-yellow-200">
        {title}
      </h3>
      <div class="flex flex-wrap mt-2">
        <ul class="flex flex-row mb-2 gap-x-2">
            {tags.map((tag) => (
              <li>
                <span
                  class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                >
                  <tag.icon class="size-4" />
                  {tag.name}
                </span>
              </li>
            ))}
          </ul>
  
        <div class="mt-2 text-white opacity-80">{description}</div>
        <footer class="flex items-end justify-start mt-4 gap-x-4">
            <CodeBadge href={href} />
          </footer>
      </div>
    </div>
  </article>
      ))
    }
  </div>