---
import AstroSVG from "./icons/AstroSVG.astro";
import TailwindSVG from "./icons/TailwindSVG.astro";
import FigmaSVG from "./icons/FigmaSVG.astro";
import Id from "../pages/services/[id].astro";

const TAGS = {
    ASTRO: {
        name: "Astro",
        icon: AstroSVG,
    },
    TAILWINDCSS: {
        name: "Tailwind",
        icon: TailwindSVG,
    },
    FIGMA: {
        name: 'Figma',
        icon:   FigmaSVG,
    },
}

const PROJECTS = [
    {
        id: 'sunui',
        title: "SunUI - Catálogo de Componentes",
        description: "Desarrolé un sitio dónde podrán encontrar componentes personalizados con Tailwind CSS para diseñar de manera eficiente sus páginas web.",
        image: "/projects/sunui-image.webp",
        tags: [TAGS.ASTRO, TAGS.TAILWINDCSS, TAGS.FIGMA],
    },
    {
      id: 'notapp',
        title: "Notapp - Dashboard para la Gestión de Proyectos",
        description: "Diseño y desarrollo de una aplicación para la gestión de tareas, integrando JavaScript para la creación dinámica de tarjetas y Firebase para un sistema seguro de registro y autenticación de usuarios.",
        image: "/projects/notapp-image.webp",
        tags: [TAGS.ASTRO, TAGS.TAILWINDCSS, TAGS.FIGMA],
    },
]
---

<div class="flex flex-col space-y-24">
    {
      PROJECTS.map(({ image, title, description, tags, id}) => (
        <article class="flex flex-col space-y-8 md:flex-row md:space-x-8 md:space-y-0">
          <div class="w-full md:w-1/2">
            <div class="flex rounded-lg bg-transparent p-2 bg-white bg-[radial-gradient(#e5e7eb_1px,transparent_1px)] [background-size:16px_16px] border border-[black]">
              <a href={`/services/${id}`}>
                <img alt="Captura del Proyecto" class="w-full h-full rounded-lg hover:scale-95 transition duration-500" loading="lazy" src={image} />
              </a>
            </div>
          </div>
          <div class="w-full md:w-1/2 flex flex-col justify-between items-start space-y-4">
              <ul class="flex gap-x-4">
                  {tags.map((tag) => (
                    <li class="py-1 px-2 border border-black rounded-full">
                      <span class={`flex items-center justify-start text-black gap-x-1 text-xs font-semibold text-nowrap`}>
                          <tag.icon class="size-4"/>
                          {tag.name}
                      </span>
                    </li>
                    ))
                  }
              </ul>
            <div class="flex flex-wrap">
              <h3 class="text-2xl font-bold text-black pb-4">{title}</h3>
              <p class="text-md text-black/80 pb-4">{description}</p>
            </div>
              <footer class="flex justify-between items-center w-full">
                  <img src="https://github.com/blaballos.png" alt="" class="size-12 rounded-full" />
                <a href={`/services/${id}`} class="px-3 z-30 py-1 bg-transparent border-2 text-black border-black rounded-2xl rounded-tl-lg rounded-br-lg relative after:-z-20 after:absolute after:h-1 after:w-1 after:bg-royalBlue after:left-5 overflow-hidden after:bottom-0 after:translate-y-full after:rounded-xl after:hover:scale-[300] after:hover:transition-all after:hover:duration-700 after:transition-all after:duration-700 transition-all duration-700 hover:text-white">
                  <span class="text-sm md:text-md font-HeyComic">ver más</span>
                </a>
              </footer>
          </div>
        </article>
      ))
    }
</div>