---
import CodeBadge from "./CodeBadge.astro";
import CIcon from "./icons/C++Icon.astro";
import PythonIcon from "./icons/PythonIcon.astro";

const TAGS = {
    PYTHON: {
        name: "Python",
        class: "bg-[#B8992A]",
        icon: PythonIcon,
    },
    C: {
        name: "C++",
        class: "bg-[#265378]",
        icon: CIcon,
    },
}

const PROJECTS = [
    {
        title: "Sistema para la Gestión de Clientes",
        description: "He desarrollado un sistema para el registro y gestión de clientes en una veterinaria. Utilicé métodos y atributos privados en las clases, optimizando la encapsulación y mejorando la seguridad del código.",
        href: "https://github.com/blaballos/management-system-for-veterinary",
        image: "/projects/management-system-for-veterinary.webp",
        tags: [TAGS.C],
    },
    {
        title: "Juego de Roles con Python",
        description: "He diseñado un sistema que permite a los usuarios crear su personaje, asignarle un rol y combatir. Uso conceptos como la herencia para modelar las características de los diferentes roles de manera eficiente.",
        href: "https://github.com/blaballos/role-play-game",
        image: "/projects/role-play-game-image.webp",
        tags: [TAGS.PYTHON],
    },
]
---

<div class="flex flex-col gap-y-14">
    {
      PROJECTS.map(({ image, title, description, tags, href}) => (
      <article class="flex flex-col space-y-8 md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700">
            <img alt="Captura del Código perteneciente al Proyecto" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:group-hover:scale-105" loading="lazy" src={image} />
          </div>
        </div>
    
        <div class="w-full md:w-1/2">
          <h3 class="text-2xl font-bold text-white pb-4">{title}</h3>
          <div class="flex flex-wrap">
            <ul class="flex flex-row gap-x-4 pb-4">
              {tags.map((tag) => (
                <li>
                  <span class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}>
                      <tag.icon class="size-4"/>
                      {tag.name}
                  </span>
                </li>
                ))
              }
            </ul>
        
            <div class="text-white opacity-80 pb-4">{description}</div>
            <footer class="flex justify-start gap-x-4">
              <CodeBadge href={href}/>
            </footer>
          </div>
        </div>
      </article>
      ))
    }
</div>